@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

:root{
    --body-color: #2C298C;
    --nav-color: #4D298C;
    --section-color:#29648C;
    --background-color-title: #4D298C;
    --subhead-color:#0c0b2d;
    --card-color:#2C298C;
    --icon-color:black;
    --paragrafo:#0c0b2d;
    --box-shadow:0px 0px 20px 0px black;
} 

.dark{
    --body-color: #4D298C;
    --nav-color:#0c0b2d;
    --section-color:#141244;
    --background-color-title: #5a89a9;
    --subhead-color:white;
    /* --card-color:rgb(2, 195, 195); */
    --card-color:#0e0b7d; 
    --icon-color:white;
    --paragrafo:#5a89a9;
    --box-shadow: 0px 0px 0px 0px black;
    --info-footer:white;
}

/*
#29458C
#29648C
#2C298C
#29848C
#4D298C
*/

body{
    padding: 0% 3% 3% 3%;
    background-color: var(--body-color);
}


header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--nav-color);
    margin: -3.2%;
    margin-bottom: 4%;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    list-style-type: none;
}


nav > ul > li > a, i {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}



nav > ul > li > a:hover{
   color: var(--paragrafo);
}

#menu-icon{
    display:none;
}



section{
    margin-bottom: 5%;
    background-color: var(--section-color);
    border-radius: 10px;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: var(--box-shadow)
}


section#sobre-mim > div#informacoes-pessoais{
   display: flex;
   justify-content:space-evenly;
   padding: 2%;
}

section#sobre-mim > div#informacoes-pessoais >  img{
   border-radius: 50%;
   height: 40vh;
}


section#sobre-mim > div#informacoes-pessoais > #info{
    width: 50%; 
}

section#sobre-mim > div#informacoes-pessoais > #info > h1{
    color: var(--subhead-color);
    margin-bottom: 4%;
}

section#sobre-mim > div#informacoes-pessoais > #info > h1 > i{
    color: var(--body-color)
}

section#sobre-mim > div#informacoes-pessoais > #info > p{
    color: var(--paragrafo);
    margin-top:10%;
}

section#sobre-mim > div#contato{
    margin-left: 12%;
}

section#sobre-mim > div#contato > a > i {
    color:var(--icon-color);
    padding: 30px;
}




section#formacao > h1{
    background-color: var(--background-color-title);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color:white;
}

section#formacao  h3, h4{
    color:var(--subhead-color);
    padding: 1%;
    border-radius: 10px;
}


section#formacao > div {
    padding: 2%;
}

section#formacao > div > h3 > i, h4 > i{
    color: var(--paragrafo);
    margin-right: 15px;
}


section#skills > h1{
    background-color: var(--background-color-title);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color:white;
}

section#skills  h3{
    color:var(--subhead-color);
}


section#skills > div > h3{
    text-align: center;
    padding: 4%;
}

section#skills > div > span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section#skills > div > span > div.scene{
    height: 40vh;
    width: 20vw;
    margin: 1%;
    padding: 1%;
    background-color: var(--card-color);
    border-radius: 10px;
    text-align: center;
     box-shadow: 0px 0px 8px black;
    perspective: 600px;
}

section#skills > div > span > div.scene:hover{
    scale: 110%;
    box-shadow: 0px 0px 20px 0px yellow;
}

section#skills > div > span > div.scene > div.card{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
}

section#skills > div > span > div.scene > div.card.is-flipped {
    transform: rotateY(180deg);
}

section#skills > div > span > div.scene > div.card > div{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


section#skills > div > span > div.scene > div.card > div#back{
    transform: rotateY(180deg);
    font-size: 10px;
}

section#skills > div > span#linguagens > div{
    width: 30%;
}

section#skills > div > span#data-bases > div{
   width: 50%;
}


section#skills > div > span > div.scene > div.card > div > p{
    font-weight: bold;
    color:aqua;
}

.oculto{
    display: none;
}

section#projetos > h1{
    background-color: var(--background-color-title);
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 10px; 
    margin-bottom: 4%;
}

section#projetos > div{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

section#projetos > div > div{
    padding: 0% 10%;  
    text-align: center;  
    
}

section#projetos > div > button{
    height: 100px;
    width: 20vw;
    border-radius: 10px;
    border:none;
    font-weight: bolder;
    box-shadow: 0px 0px 15px 0px black;
}

.scale-in-hor-left {
	-webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-hor-right{
    -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} 

section#projetos > div > div > img{
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 0px 0px 20px 0px black;
    box-sizing: border-box;
}



section#projetos > div > div > div > h3{
    margin-bottom: 2%;
    color: var(--subhead-color);
}

section#projetos > div > div > div > p {
    padding: 1%;  
    color: var(--paragrafo);
}

section#projetos > div > div > div > p > a{
    text-decoration: none;
    color:var(--subhead-color);
    background-color: var(--body-color);
    padding: 0.5%;
    border-radius: 10px;
}



/**
 * ----------------------------------------
 * animation scale-in-hor-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}



/**
 * ----------------------------------------
 * animation scale-in-hor-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes girar {
    to{
        transform:rotate(360deg);
    }
}



footer{
    background-color:var(--section-color);
    list-style-position: inside;
    padding: 1%;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer > h3{
    color: var(--subhead-color);
}


footer ul{
   list-style: none;
}

footer li{
    padding: 1%;
}


footer > ul > li > ul{
    margin: 1%;
    background-color: var(--card-color);
    padding: 1%;
    border-radius: 10px;
    color:white;
}

footer a{
    color: var(--paragrafo);
    text-decoration: none;
}

footer > p, li{
    color: var(--info-footer)
}
 





@media screen and (min-width: 900px){

    section#sobre-mim > div#informacoes-pessoais >  img:hover{
        scale: 110%;
        box-shadow: 0px 0px 20px 0px yellow;
    }

    section#sobre-mim > div#contato > a > i:hover{
        animation: girar 2s ease-in-out infinite;
    }

    section#formacao  h3:hover, h4:hover{
        scale: 105%;
        background-color: var(--card-color);
        color: white;
    }

    section#projetos > div > div > img:hover{
        scale:108%;
    }

    section#projetos > div > div > div > p > a:hover{
        color:white;
        background-color: var(--nav-color);
    }
}







@media screen and (max-width: 900px){

    

    nav > ul{
        display: block;
        text-align: center;
    }
    
    .menu-oculto{
        display: none;
    }

    #menu-icon{
        display: block;
        margin: auto;
        padding: 7%;
        
    }

    section{
        margin-bottom: 10%;
        padding: 3%;
    }
    
    h1{
        font-size:30px;
    }


   section#sobre-mim > div#informacoes-pessoais{
        flex-direction: column;
   }

   section#sobre-mim > div#informacoes-pessoais >  img{
        width: 100%;
        margin: auto;
        margin-bottom: 10%;
   }

   section#sobre-mim > div#informacoes-pessoais > #info{
       width: 100%;  
       text-align: center;
   }

   section#sobre-mim > div#contato > a > i {
        margin: 5% 0%;
        padding: 20px;
    }

    section#formacao  h3{
        padding: 5%;
    }

   section#skills > div > span{
       flex-direction: column;
       align-items: center;
   }

   section#skills > div > span > div.scene{
       width: 90%;
       margin: 5%;
       padding: 5%;
   }

   section#skills > div > span#linguagens > div{
       width: 90%;
    }

    section#skills > div > span#data-bases > div{
       width: 90%;
    }


    section#projetos > div > div > img{
        height: 40%;
        width: 100%;
    }

    section#projetos > div > div > div > h3{
        padding: 2%;
    }

    
    section#projetos > div > button{
        height: 50px;
        padding: 2%;
    }

    section#projetos > div > div > div > p {
        padding: 8% 0 8%;  
        color: var(--paragrafo);
    }

    section#projetos > div > div > div {
        text-align: justify;
    }

    footer{
        padding: 5%;
    }


    footer > h3,  ul > *{
        margin-bottom: 5%;
    }


    footer > ul > li > ul > li{
        padding: 5%;
    }

}